*.log
*.err
*.root
*.swp
CMakeCache.txt
CMakeFiles
cmake_install.cmake
G4History.macro
Makefile
singleCrystal
html
latex
*/singCrysPSNPhotons.*
*/singCrysRun.*
*/singCrysRunAction.*
analysis/*.pdf
analysis/data
analysis/figures
analysis/*.dat
